
<section>
<div class="tf-product-media-wrap thumbs-default sticky-top mb-4">
  <div class="thumbs-slider">
    <!-- Thumbs Swiper -->
    <div
      class="swiper tf-product-media-thumbs other-image-zoom"
      data-direction="horizontal"
      ref="thumbsSwiper"
    >
    
      <div class="swiper-wrapper stagger-wrap">
        <div
          v-for="(picture, i) in localPictures"
          :key="'thumb-' + i"
          class="swiper-slide stagger-item"
          :data-color="picture.color || 'default'"
        >
          <div
            class="item"
            :class="{ 'is-active': i === activeIndex }"
            @click="activeIndex = i"
          >
            <img
              
              :data-src="getImg(picture, null, 'small').url"
              :src="getImg(picture, null, 'small').url"
              :alt="picture.alt || ''"
            >
          </div>
        </div>
        <!-- Video thumb (if any) -->
        <div
          v-if="videoSrc"
          class="swiper-slide stagger-item"
          :data-color="'video'"
        >
          <div
            class="item gallery__item--video"
            :class="{ 'is-active': localPictures.length === activeIndex }"
            @click="activeIndex = localPictures.length"
          >
            <i class="i-play"></i>
            <span>{{ i19video }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Swiper -->
    
    <div class="swiper tf-product-media-main" id="gallery-swiper-started" ref="mainSwiper">
      <div class="swiper-wrapper">
        <div
          
          v-for="(picture, i) in localPictures"
          :key="'main-' + i"
          class="swiper-slide"
          :data-color="picture.color || 'default'"
        >
          <div
            @click="openZoom(i)"
            :href="getImg(picture, null, 'big').url"
            target="_blank"
            class="item"
            :data-pswp-width="picture['zoom'].size.split('x')[0] || 600"
            :data-pswp-height="picture['zoom'].size.split('x')[1] || 800"
          >
            <img
              class="tf-image-zoom "
              :src="getImg(picture, null, 'big').url"
              :data-zoom="getImg(picture, null, 'zoom').url"
              :data-src="getImg(picture, null, 'big').url"
              :alt="picture.alt || ''"
            >
          </div>
        </div>
        <!-- Video slide (if any) -->
        <div
          v-if="videoSrc"
          class="swiper-slide"
          :data-color="'video'"
        >
          <div class="embed-responsive" :class="`embed-responsive-${videoAspectRatio}`">
            <div
              v-if="activeIndex === localPictures.length"
              class="spinner-border text-primary"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
            <iframe
              class="embed-responsive-item"
              v-if="activeIndex === localPictures.length"
              :src="videoSrc"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
    v-once
    ref="pswp"
    class="pswp"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button
            class="pswp__button pswp__button--close"
            :title="`${i19close} (Esc)`"
          ></button>
          <button
            class="pswp__button pswp__button--share"
            :title="i19share"
          ></button>
          <button
            class="pswp__button pswp__button--fs"
            :title="i19fullscreen"
          ></button>
          <button
            class="pswp__button pswp__button--zoom"
            title="Zoom in/out"
          ></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button
          class="pswp__button pswp__button--arrow--left"
          :title="i19previous"
        ></button>
        <button
          class="pswp__button pswp__button--arrow--right"
          :title="i19next"
        ></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

        <button
          v-if="canAddToCart"
          type="button"
          class="btn btn-success"
          @click="buy"
        >
          <i class="i-shopping-cart"></i>
          <span class="d-none d-md-inline ml-1">
            {{ i19addToCart }}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
