<section
  class="product"
  :data-product-id="body._id"
  :data-sku="body.sku"
  :data-selected-variation="selectedVariationId"
>
  <a-alert
    :can-show="hasLoadError"
    variant="danger"
  >
    {{ i19loadProductErrorMsg }}
    <a
      href="#"
      class="alert-link"
      @click.prevent="fetchProduct"
    >
      {{ i19retry }}
    </a>
  </a-alert>

  <transition enter-active-class="animated fadeIn slower">
    <div
      v-if="body._id"
      class="row"
    >
      <slot name="gallery-col">
        <div :class="galleryColClassName">
          <component
            :is="isSSR ? 'portal' : 'div'"
            selector="#product-gallery"
          > 
            <slot name="stamps"/>
            <product-gallery
              :product="body"
              :can-add-to-cart="canAddToCart && body.available && isInStock"
              :current-slide.sync="currentGalleyImg"
              :is-s-s-r="isSSR"
              :is-quickview="isQuickview"
            >
              <slot name="first-picture"/>
            </product-gallery>
            <slot name="gallery-footer"/>
          </component>
        </div>
      </slot>

      <div
        class="col"
        ref="actions"
      >
        <slot
          v-if="!isSSR"
          name="heading"
        >
          <component
            :is="headingTag"
            class="product__name h5"
          >
            {{ name }}
          </component>
          <p class="product__sku">
            COD: {{ body.sku }}
          </p>
          
        </slot>

        <component
          :is="isSSR ? 'portal' : 'div'"
          selector="#product-actions"
        > 
          <slot name="rating">
            <div
              v-once
              class="product__rating"
              :data-sku="body.sku"
            ></div>
          </slot>
          <div class='tf-product-info-list d-block w-100'>
            <div class="tf-product-info-content">
              <!-- Unavailable/Out of Stock Alerts -->
              <div
                v-if="!body.available"
                class="product__unavailable alert alert-warning mb-3"
              >
                <slot name="unavailable">
                  {{ i19unavailable }}
                </slot>
              </div>

              <div
                v-else-if="!isInStock"
                class="product__out-of-stock alert alert-info mb-3"
              >
                <slot name="out-of-stock">
                  {{ i19outOfStock }}
                </slot>
              </div>

              <div
                v-else-if="isWithoutPrice"
                class="product__without-price alert alert-info mb-3"
              >
                <slot name="without-price">
                  <a 
                    v-if="quoteLink"
                    target="_blank"
                    rel="noopener"
                    :href="quoteLink"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    {{ i19quoteProduct }}
                  </a>
                </slot>
              </div>

              <template v-else>
                <!-- Price Display (following the new structure) -->
                <div class="infor-center mt-2">
                  <div class="product-info-price">
                    <a-prices
                      :product="ghostProductForPrices"
                      :is-literal="true"
                      :is-big="true"
                      @fix-price="price => fixedPrice = price"
                      class="prices-big"
                    />
                  </div>
                  
                  <!-- Shipping Info -->
                  <!-- <div class="product-delivery">
                    <p class='m-0'>
                      <i class="icon-delivery-2"></i>
                      Frete grátis
                    </p>
                    
                  </div> -->
                </div>
                
                <!-- Product Features List -->
                <ul class="product-fearture-list m-0">
                  <li v-if="body.brands && body.brands.length">
                    <p class="body-md-2 fw-semibold m-0">Marca</p>
                    <span class="body-text-3">{{ body.brands[0].name }}</span>
                  </li>
                  
                  <li v-for="(spec, specName) in body.specs" :key="specName">
                    <p class="body-md-2 fw-semibold">{{ specName }}</p>
                    <span class="body-text-3">{{ spec }}</span>
                  </li>
                </ul>

                <!-- Variations -->
                <div class="tf-product-info-choose-option flex-xl-nowrap">
                  <!-- Quantity Selector -->
                  <div v-if="!isKit && hasBuyButton && isVariationInStock" class="product-quantity">
                    
                    <component
                      :is="1 == 1 ? 'quantity-selector' : 'div'"
                      :items="1 == 1 ? [{ _id: body._id, quantity: body.min_quantity || 1 }] : null"
                      :min="body.min_quantity"
                      :max="body.quantity"
                      :has-buy-button="false"
                      @set-quantity="({ quantity }) => qntToBuy = quantity"
                      class="wg-quantity"
                    >
                      
                    </component>
                  </div>
                  
                  

                  <!-- Buy Button -->
                  <div
                    v-if="!isKit && hasBuyButton && isVariationInStock"
                    class="product-box-btn"
                    ref="buy"
                  >
                    <span @click="buy">
                      <slot
                        name="buy"
                        v-bind="{ hasClickedBuy, isOnCart }"
                      >
                        <button
                          type="button"
                          class="tf-btn text-white"
                          :disabled="hasClickedBuy && !isOnCart"
                        >
                          <slot name="buy-button-content">
                            {{ strBuy }}
                            <i class="icon-cart-2"></i>
                          </slot>
                        </button>
                      </slot>
                    </span>
                  </div>
                </div>
            <slot
              v-if="!isQuickview && (!isKit || kitItems.length)"
              name="shipping"
            >
              <shipping-calculator
                :shippedItems="isKit ? kitItems : [{
                  ...body,
                  ...selectedVariation,
                  product_id: body._id,
                  quantity: qntToBuy || body.min_quantity || 1
                }]"
              >
                <template v-slot:free-from-value="{ amountSubtotal, freeFromValue }">
                  <div class="product__free-shipping-from">
                    {{ i19freeShippingFrom }}
                    <strong>
                      {{ Math.ceil(freeFromValue / amountSubtotal) }}
                      {{ i19units }}
                    </strong>
                  </div>
                </template>
              </shipping-calculator>
            </slot>
               
              </template>
            </div> <!-- This closing div was missing for tf-product-info-content -->
          </div> <!-- This closing div was missing for tf-product-info-list -->
        </component>

        <slot
          v-if="!isSSR && body.short_description"
          name="short-description"
        >
          <div class="infor-bottom">
            <h6 class="fw-semibold">Sobre o produto</h6>
            <ul class="product-about-list m-0">
              <li>
                <p class="body-text-3 m-0">
                  {{ body.short_description }}
                </p>
              </li>
            </ul>
          </div>

        </slot>
        <div v-if="isQuickview" class="product-quickview__footer">
          <a
            class="product-quickview__btn-redirect btn btn-secondary mx-0"
            :href="body.slug ? `/${body.slug}` : '#'"
          >
            Ver mais detalhes sobre o produto
          </a>
        </div>
      </div>
    </div>
  </transition>

  <template v-if="!isQuickview && hasStickyBuyButton && body.available && isInStock && 1 != 1">
    <transition
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut fast" 
    >
      <div
        v-show="isStickyBuyVisible"
        ref="sticky" 
        class="product__sticky"
      >
        <div class="product__sticky-container container">
          <div class="product__sticky-info">
            <a-picture
              :can-calc-height="false"
              :src="thumbnail"
              class="product__sticky-picture"
            />
            <h5>{{ name }}</h5>
          </div>

          <div class="product__sticky-buy">
            <a-prices
              :product="ghostProductForPrices"
              :is-literal="false"
              :can-show-price-options="true"
            />
            <a
              class="btn btn-lg btn-primary"
              href="#"
              @click.prevent="buyOrScroll"
            >
              <i class="i-shopping-bag mr-1"></i>
              {{ strBuy }}
            </a>
          </div>
        </div>
      </div>
    </transition>
  </template>

  <slot v-if="!body._id"/>
</section>
